extends layout

block body
  .title
    h1= title
  .img-body.row(ng-controller='Imgs')
    div.alert.alert-info
      p.row
        span.col-xs-4
          strong 主办：
          | 广西民族大学党委宣传部
        span.col-xs-4
          strong 承办：
          a(href='http://xsh.gxun.cn/') 广西民族大学相思湖网站
          | 、
          br
          - for (var i = 0; i < 10; i++) 
            | &nbsp;
          大学生通讯社
        span.col-xs-4
          strong 活动详情：
          a(href='http://www.gxun.edu.cn/show.aspx?id=23502&cid=37') http://www.gxun.cn...
    div.alert.alert-success.info
      strong 一、刊登初选作品
      p
        span 首届随手拍大赛网上投票系统将刊登通过初选的参赛作品（按投稿时间先后进行编号排列）；
      strong 二、投票方式
      p
        span 投票采取IP限制，每个IP地址每天限投2票，投票占总分比例30%；
      strong 三、投票时间
      p
        span 2014年3月12日——5月8日24时止；
      strong 四、奖项设置：
      p
        ul
          li 一等奖6名，（新闻摄影、随手拍各3名）
          li 二等奖10名，（新闻摄影、随手拍各5名）
          li 三等奖16名，（新闻摄影、随手拍各8名）
          li 最佳人气奖2名，（新闻摄影、随手拍各1名）
          li 优秀组织奖2名，（以学院或社团组织为单位，统一组织打包上交作品数量多且优的）
      p 获奖个人、组织由学校党委宣传部颁发获奖证书和奖金。 
    +ul_imgs(0)
    +ul_imgs(1)
    +ul_imgs(2)
  script.
    var imgs_data = !{JSON.stringify(imgs)};
    var imgs_index = 0;
mixin ul_imgs (i)
  .clearfix.pull-left.imgs-infinite(infinite-scroll='loadMore(#{i})')
    .wrap-box
      .img-box(id='imgs_{{img.id}}',ng-repeat='img in imgs[#{i}]')
        img.fancybox(href=url("upload", '{{img.name}}'),src=url("upload", '{{img.name}}'), title='{{img.description}}')
        span.title
          .pull-right(,rel='imgs')
            | 票数:{{img.vote_count}}
          | {{img.id}}号作品 - {{img.title}}
        p.description {{img.description}}
        span.btn.btn-primary.img-label(ng-click='vote(img, img.id, $event)') 投上一票
