extends layout

mixin form-group-list(data)
  each da,i in data
    .form-group
      h4 #{i+1}.#{da['title']}
      +l-radio(da['radios'], 'f'+i)

mixin l-radio(arr, name)
  .row.l-radio
    each n,i in arr
      label
        input(type='radio',name=name,value=i,required=true)
        != n


block body
  h1= title
  .container.body(ng-controller='Imgs')
    if error
      .alert.alert-warning.alert-dismissable
        button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
        strong= error

    p.alert.alert-info.
      亲爱的童鞋们，知道你们的时间到哪去了么？请你们按照自己的实际情况和真实想法来填写这份调查问卷。
    form.form.text-vote(action=url(),method='post')
      +form-group-list(data)

      .form-group.row
        .col-xs-3.form-control-static
          img(src=url('verifycode'))
        .col-xs-9.form-horizontal
          .form-group
            label.col-xs-3.control-label 验证码
            .col-xs-9
              input.form-control(type='text',name='verifycode',required=true)

      .form-group
        button.btn.btn-danger(type='submit') 确认提交
  script.
    var imgs_data = !{JSON.stringify(imgs)};
    var imgs_index = 0;
