extends layout

block body
  .title
    h1= title
  .img-body.row(ng-controller='Imgs')
    div.alert.alert-info.row
      span.col-xs-4
        strong 主办：
        | 广西民族大学党委宣传部
      span.col-xs-4
        strong 承办：
        a(href='http://xsh.guxn.edu.cn/') 广西民族大学相思湖网站
      span.col-xs-4
        strong 活动详情：
        a(href='http://bbs.gxun.cn/portal.php?mod=view&aid=674') http://bbs.gxun.cn...
    div.alert.alert-success.row
      p
        strong 一、刊登初选作品
      p
        span 首届随手拍大赛网上投票系统将刊登通过初选的参赛作品（按投稿时间先后进行编号排列）；
      p
        strong 二、投票方式
      p
        span 投票采取IP限制，每个IP地址每天限投10票，投票占总分比例30%；
      p
        strong 三、投票时间
      p
        span 2014年3月12日——5月8日24时止；
      p
        strong 四、奖项设置：
      p
        ul
          li 一等奖1名，各200元及获奖证书。
          li 二等奖2名，各150元及获奖证书。
          li 三等奖3名，各100元及获奖证书。
          li 最佳人气奖1名，最佳创意奖1名，最佳组织奖3
    +ul_imgs(0)
    +ul_imgs(1)
    +ul_imgs(2)
  script.
    var imgs_data = !{JSON.stringify(imgs)};
    var imgs_index = 0;
mixin ul_imgs (i)
  .clearfix.pull-left.imgs-infinite(infinite-scroll='loadMore(#{i})')
    .wrap-box
      .img-box(id='imgs_{{img.id}}',ng-repeat='img in imgs[#{i}]')
        img.fancybox(href=url("upload", '{{img.name}}'),src=url("upload", '{{img.name}}'), title='{{img.description}}')
        span.title
          .pull-right(,rel='imgs')
            | 票数:{{img.vote_count}}
          | {{img.id}}号作品 - {{img.title}}
        p.description {{img.description}}
        span.btn.btn-primary.img-label(ng-click='vote(img, img.id, $event)') 投上一票
