extends layout

mixin form-group-list(data, name)
  each da,i in data
    .form-group
      h4 #{i+1}.#{da['title']}
      +l-radio(da['radios'], name+i)

mixin l-radio(arr, name)
  .row.l-radio
    each n,i in arr
      label
        input(type='radio',name=name,value=i,required=true)
        != n


block body
  h1= title
  .container.body(ng-controller='Imgs')
    if typeof error === 'string'
      .alert.alert-warning.alert-dismissable
        button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
        strong= error

    p.alert.alert-info.
      为进一步强化服务意识，全面提升后勤服务质量和管理水平,为师生员工提供优质高效、周到便捷的后勤服务，现向全校师生员工征求对后勤实体（饮食服务中心、物业服务中心、学生公寓园区管理办公室、水电与维修服务中心、交通服务中心）管理服务工作意见，请您在百忙中对我校后勤服务工作提出宝贵意见和建议。我们将综合大家的意见和建议研究制定整改措施，以便不断改进后勤服务工作。本次调查活动截止时间为2014年3月20日，感谢您的支持和配合！
    form.form.text-vote(action=url(),method='post')
      h3 一、请您对饮食管理服务工作做出评价
      +form-group-list(data[0], 'a')
      .form-group
        h4 #{data[0].length+1}.您对饮食管理服务还有何意见及建议？
        .row
          textarea(name='at', cols='50', rows='3')
      h3 二、请您对物业管理服务工作做出评价
      +form-group-list(data[1], 'b')
      .form-group
        h4 #{data[1].length+1}.您对教室管理服务还有何意见及建议？
        .row
          textarea(name='bt', cols='50', rows='3')
      h3 三、请您对学生公寓管理服务工作做出评价
      +form-group-list(data[2], 'c')
      .form-group
        h4 #{data[2].length+1}.您对学生公寓管理服务还有何意见及建议？
        .row
          textarea(name='ct', cols='50', rows='3')
      h3 四、请你对水电与维修管理服务工作做出评价
      +form-group-list(data[3], 'd')
      .form-group
        h4 #{data[3].length+1}.您对水电服务工作还有何意见及建议：
        .row
          textarea(name='dt', cols='50', rows='3')
      h3 五、请您对交通管理服务工作做出评价
      +form-group-list(data[4], 'e')
      .form-group
        h4 #{data[4].length+1}.您对交通管理服务工作还有何意见及建议：
        .row
          textarea(name='et', cols='50', rows='3')

      .form-group
        .row
          .col-xs-3.form-control-static
            img(src=url('verifycode'))
          .col-xs-9.form-horizontal
            .form-group
              label.col-xs-3.control-label 验证码
              .col-xs-9
                input.form-control(type='text',name='verifycode',required=true)

      .form-group
        button.btn.btn-danger(type='submit') 确认提交
  script.
    var imgs_data = !{JSON.stringify(imgs)};
    var imgs_index = 0;
